[alias]
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    # Undo the last commit
    undo-commit = reset --soft HEAD~
[core]
    editor = vim
    pager = less -R
[push]
    default = simple
[user]
    name = andrewtweber
    email = andrew@midwestscc.com
